<h1>Dettaglio Autore</h1>
<p>Nome: <b>{{userData.name}}</b></p>
<p>Alias: <b>{{userData.username}}</b></p>
<p>Website: <b>{{userData.website}}</b></p>
<p>Telefono: <b>{{userData.phone}}</b></p>
<p>Email: <b>{{userData.email}}</b></p>
<p>Indirizzo: <b>{{userData.address.city}}, {{userData.address.street}}, {{userData.address.suite}}, {{userData.address.zipcode}}, {{userData.address.geo}}</b> </p>
<p>Company: <b>{{userData.company.name}}, {{userData.company.bs}}, {{userData.company.catchPhrase}}</b></p>
<a routerLink="">Ritorna Alla Home</a>

